name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32, ARM64]
        
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: MSBuild of plugin dll
      working-directory: .\
      run: msbuild SpeechPlugin.vcxproj /m /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}"

    - uses: olegtarasov/get-tag@v2.1.4
      id: tagName

    - name: zip artifacts for ${{ matrix.build_platform }}
      if: matrix.build_configuration == 'Release'
      run: 7z a SpeechPlugin_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip .\${{ matrix.build_platform }}\${{ matrix.build_configuration }}\SpeechPlugin.dll

    - name: Archive artifacts for ${{ matrix.build_platform }}
      if: matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: SpeechPlugin_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip
          path: SpeechPlugin_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

    - name: Create release on tagging
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
          files: SpeechPlugin_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

